# {{ .Theme.Name }} ({{ .Theme.Variant }}) for Ghostty.
palette = 0={{ .Theme.Bg }}
palette = 1={{ .Theme.Red }}
palette = 2={{ .Theme.Green }}
palette = 3={{ .Theme.Yellow }}
palette = 4={{ .Theme.Purple }}
palette = 5={{ .Theme.Pink }}
palette = 6={{ .Theme.Cyan }}
palette = 7={{ .Theme.Fg }}
palette = 8={{ .Theme.Comment }}
palette = 9={{ .Theme.Red }}
palette = 10={{ .Theme.Green }}
palette = 11={{ .Theme.Yellow }}
palette = 12={{ .Theme.Purple }}
palette = 13={{ .Theme.Pink }}
palette = 14={{ .Theme.Cyan }}
palette = 15={{ .Theme.Fg }}
background = {{ .Theme.Bg }}
foreground = {{ .Theme.Fg }}
cursor-color = {{ .Theme.Comment }}
cursor-text = {{ .Theme.Bg }}
selection-background = {{ .Theme.Selection }}
selection-foreground = {{ .Theme.Fg }}
